@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Mona-Sans-Light;
  src: url("/assets/Mona-Sans/Mona-Sans-Light.woff2");
}
@font-face {
  font-family: Mona-Sans-Bold;
  src: url("/assets/Mona-Sans/Mona-Sans-Bold.woff2");
}

body {
  @apply bg-[#0C0C0C] text-white;
}
#__next {
  @apply max-w-[100vw] overflow-x-hidden;
}
@layer components {
  .__c_all {
    @apply flex items-center justify-center;
  }
}
