@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Mona-Sans-Light;
  src: url("/assets/Mona-Sans/Mona-Sans-Light.woff2");
}
@font-face {
  font-family: Mona-Sans-Bold;
  src: url("/assets/Mona-Sans/Mona-Sans-Bold.woff2");
}

body {
  @apply bg-[#0C0C0C] text-white;
}
#__next {
  @apply max-w-[100vw] overflow-x-hidden;
}
@layer components {
  .__c_all {
    @apply flex items-center justify-center;
  }
}

/* Link Button */
.hovered_link_btn .icon1 {
  @apply translate-x-[150%];
}
.hovered_link_btn .icon2 {
  @apply translate-x-[0%];
}
.hovered_link_btn .icon3 {
  @apply translate-x-[-150%];
}

.hovered_link_btn svg,
.hover_out_link_btn svg {
  transition-delay: 50ms;
}

.hover_out_link_btn .icon1 {
  @apply translate-x-[300%];
}
.hover_out_link_btn .icon2 {
  @apply translate-x-[150%];
}
.hover_out_link_btn .icon3 {
  @apply translate-x-[0%];
}

.noDuration svg {
  @apply duration-0;
}

.__transition {
  transition: 0.5s cubic-bezier(0.6, 0, 0.1, 1);
}

.__back_top_text::before {
  content: "Back Top";
  position: absolute;
  bottom: -30px;
  left: 0px;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.__line_bg {
  background-image: repeating-linear-gradient(
    to right,
    #f5f2eb34 0%,
    #f5f2eb34 0.01%,
    transparent 0.1%,
    transparent 20.4%
  );
}
